<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <link href="assets/css/bootstrap_star_rating.css" media="all" rel="stylesheet" type="text/css" />
    <link href="assets/css/theme.css" media="all" rel="stylesheet" type="text/css" />
    <script src="assets/jquery-3.6.0.min.js"></script>
    <script src="assets/star-rating.min.js" type="text/javascript"></script>

    <script src="assets/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
    <script src="assets/lang.js"></script>
</head>