<p class="text-center">Vyplňte údaje níže a po kliknutí na tlačítko přihlásit se přihlásíte</p>
<form class="centered-div" action="index.php?page=uvod" method="post">
    <div class="input-group mb-3"><span id="basic-addon1" class="input-group-text">Email</span><input class="form-control" name="email" type="text" placeholder="Zadejte email" aria-label="Username"></div>
    <div class="input-group mb-3"><span id="basic-addon-3" class="input-group-text">Heslo</span><input class="form-control" name="password" type="password" placeholder="Zadejte heslo" aria-label=""></div>
    <div class="input-group mb-0"><button class="btn btn-primary text-nowrap d-lg-flex" type="submit">Přihlásit se</button></div>
</form>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>